
<h2>WaterIntake Details</h2>

@model WebApp.Models.WaterIntakeModel

@{
    ViewBag.Title = "WaterIntakeDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
   
    <h3>WaterIntake # @Model.Id  </h3>
        @using (Html.BeginForm("WaterIntakeDetails", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            
            @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                @Html.LabelFor(m => m.IntakeDate, "IntakeDate", new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.DisplayFor(m => m.IntakeDate, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.WorkerName, "WorkerName", new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.DisplayFor(m => m.WorkerName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.StationId, "Station", new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.DisplayFor(m => m.StationId, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LaboratoryDate, "LaboratoryDate", new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.DisplayFor(m => m.LaboratoryDate, new { @class = "form-control" })
                </div>
            </div>


            <br />
            <h3>Organoleptic</h3>
            <div class="form-group">
                @Html.LabelFor(m => m.Scent20, "Scent20", new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.DisplayFor(m => m.Scent20, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Scent60, "Scent60", new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.DisplayFor(m => m.Scent60, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Flavor, "Flavor", new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.DisplayFor(m => m.Flavor, new { @class = "form-control" })

                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Chromaticity, "Chromaticity", new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.DisplayFor(m => m.Chromaticity, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Turbidity, "Turbidity", new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.DisplayFor(m => m.Turbidity, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Temperature, "Temperature", new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.DisplayFor(m => m.Temperature, new { @class = "form-control" })
                </div>
            </div>


            <br />
            <h3>Chemical</h3>
            <div class="form-group">
                @Html.LabelFor(m => m.Residue, "Residue", new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.DisplayFor(m => m.Residue, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Ph, "Ph", new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.DisplayFor(m => m.Ph, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Rigidity, "Rigidity", new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.DisplayFor(m => m.Rigidity, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Chlorides, "Chlorides", new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.DisplayFor(m => m.Chlorides, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Sulphates, "Sulphates", new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.DisplayFor(m => m.Sulphates, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Iron, "Iron", new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.DisplayFor(m => m.Iron, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Marhan, "Marhan", new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.DisplayFor(m => m.Marhan, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Fluorine, "Fluorine", new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.DisplayFor(m => m.Fluorine, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Nitrates, "Nitrates", new { @class = "col-md-2 control-label" })
                <div class="col-md-4">
                    @Html.DisplayFor(m => m.Nitrates, new { @class = "form-control" })
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    <input type="button" name="action" value="Back" onclick="location.href='@Url.Action("WaterIntakes", "Home")'" class="btn btn-default" />
                </div>
            </div>
        }
    </div>







